@import "tailwindcss";

:root {
  --background: #ffffff;
  --mainBackground : #EDEDF8;
  --text : black;
  --text2 : #6a7282;
  --border : #e1e1e1;
   --app-font-size: 1rem;
  --black:white;
}

.dark{
  --background : #212121;
  --mainBackground : #1d1d1d;
  --text : rgb(203, 203, 203);
  --text2 : #a5a5a5;
  --border : #e1e1e1;
  --black: black;
}

::-webkit-scrollbar{
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.showScroll{
  --overflow : auto;
}

.hideScroll{
  --overflow : hidden;
}

body{
  line-height: 1.4;
  
  background: var(--background);
  color: var(--text);
  font-size: var(--app-font-size);
  overflow: var(--overflow);
}


.cardText{
  text-align: justify;
}
.header{
  background: var(--background);
  color: var(--text2);
}

.footer{
  background: var(--background);
  color: var(--text2);

}

.sidekick{
  background: var(--mainBackground);
}

.text{
  color: var(--text2);
}

.text2{
  color: var(--text);
}

.card{
  background: var(--mainBackground);
}

.card2{
  background: var(--black);
}